.container .number p {
  text-align: center;
  line-height: 300px;
  /* font-weight: bold; */
  font-size: 20px;
  text-shadow:1px 1px 2px rgb(80, 75, 80);
}
.ultimo {
  padding: 15px;
}
/* .interno-destro .col-2 {
  border: 1px solid white;
} */
